.Navigation__base___kCyTU {
  margin-bottom: 40px;
  -webkit-transition: opacity 500ms ease-out;
  transition: opacity 500ms ease-out;
}

.Navigation__link___2dAmj {
  padding: 5px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
  display: inline-block;
}

.Navigation__linkActive___37s-U {
  text-decoration: underline;
}

.Navigation__animation___3mkNV .Navigation__link___2dAmj{
  -webkit-transition: all 400ms ease-out;
  transition: all 400ms ease-out;
}

.Navigation__animation___3mkNV:hover {
  color: #40a070;
}
.Navigation__disabled___3b9C6{
  opacity: 0.5;
  pointer-events: none;
}html, body {
  height: 100%;
  padding: 0;
  margin: 0;
}

#base__master___2OISV {
  padding: 20px;
}