.base {
    position:absolute;
    bottom:0;
    left:50%;
    transform: translateX(-50%);
    text-align:center;
}

.image {
    display: block;
    min-height: 400px;
}

.link {
    color: black;
    font-weight: bold;
}