.base {
  transition: opacity 500ms ease-out;
}

.link {
  padding: 5px;
  margin-right: 10px;
  text-decoration: none;
  color: black;
  display: inline-block;
}

.linkActive {
  text-decoration: underline;
}

.animation .link{
  transition: all 400ms ease-out;
}

.animation:hover {
  color: #40a070;
}
.disabled{
  opacity: 0.5;
  pointer-events: none;
}